body {
    background-color: #e0e0e0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f03030;
    text-align: justify;
}

span {
    font-size: 14pt;
}

.polok {
    float: right;
    border: 1px solid;
    border-color: #f03030;
    padding: 5px;
    margin: 5px;
}

div.sve {
    text-align: center;
    border: 1px solid;
    padding: 5px;
    width: 160px;
    display: table-cell;
    margin: 5px;
    float: left;
}

.velike-slike {
    float: initial;
    width: 150px;
    height: 150px;
    border: 1px solid white;
}

.velike-slike:hover {
    border: 1px solid #f03030;
}

#slika1 {
    width: 100%;
    height: 100%;
}

#slika2 {
    width: 100%;
    height: 100%;
}

.slika3 {
    float: right;
    width: 70%;
    height: 30%;
}

.slika3:hover {
    border: 1px solid #f03030;
    padding: 5px;
}

#zadatak3 {
    margin: 5px;
    text-align: justify;
}

.picdiv {}